.homepage-container .genres-widget .genre ul {   padding: 5px;}
.homepage-container .genres-widget .genre li { color: #997bbd; background-color: #f7f8fb; padding: 10px; border-radius: 50px;}
.homepage-container .genres-widget .genre h2 { color: #997bbd;  }
.homepage-container .genres-widget { border-radius: 50px; }
.homepage-container .genres-widget .all-genres {width: 200px;}